<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista de Produtos</title>
  </head>
  <body>
<table border="1px">
  <tr>
    <td>id</td>
    <td>nome</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Livro - NodeJS</td>
  </tr>
</table>
  </body>
</html>
